[defaults]
inventory=/home/automation/ansible/inventory/hosts.ini
remote_user=automation
private_key_file=~/.ssh/id_ed25519
collections_path=~/ansible-freeipa-nfs/collections:/usr/share/ansible/collections
roles_path=~/.ansible/roles:~/ansible-freeipa-nfs/roles:/usr/share/ansible/roles
;vault_password_file=

[privilege_escalation]
become=True
;become_ask_pass=False
